.DS_Store
.AppleDouble
.LSOverride
iisnode.yml
npm-debug.log

db/shortly.sqlite
node_modules
public/dist
shortly-deploy.key.js
shortly-deploy.key.js.pub

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore
